* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(20, 20, 20);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.title-nav {
  color: rgba(197, 237, 255, 0.8);
  font-size: 30px;
}
section {
  background-color: rgb(241, 240, 240);
  height: 500px;
}
.section-dp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-div-dp {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
  background-color: aquamarine;
  padding: 10px;
}
.section-div-dp label{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width:80%;
}
.section-div-dp-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.section-div-dp-btn textarea{
  margin-top: 10px;
  width: 100%;
}
.section-div-dp-btn input {
  height: 25px;
  width: 80px;
}
footer {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:black;
  justify-content: center;
  color:white;
}
.footer {
  background-image: url("../img/wallpaper2.jpg");
  display: flex;
  width: 100%;;
  height: 40px;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer-right a::after{ 
  content:" |";
}
.footer a:hover {    
  background-color:gray;
  border-radius: 1px;
  cursor: pointer;
}
.footer a {
  color: white;
  text-decoration: none;
}
