* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(86, 218, 255);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.title-nav {
  color: rgba(146, 24, 24, 0.8);
  font-size: 30px;
}
section {
  background-color: rgb(241, 240, 240);
  height: 500px;
}
.section-dp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-div-dp {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: aquamarine;
}
.section-div-dp-btn {
  display: flex;
  justify-content: center;
}
.section-div-dp button {
  height: 25px;
  width: 80px;
}
footer {
  background-color: rgb(0, 0, 0);
  height: 100px;
}